body{
    background-image: url(/img/R.jpeg);
    background-repeat: no-repeat;
    background-size: auto;
    min-height: 100vh;
    background-position: center;
    
}

table {
    color: cadetblue;
    text-align: center;
    border-style:double;
    font-size: 165%;
    font-family:'Courier New', Courier, monospace;
}

h1 {
    color: aliceblue;
    font-size: 175px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}

h2 {
    color: aliceblue;
    font-size: 55px;
}

p {
    color: aliceblue;
    text-align: justify;
    font-size: 20px;
}